body{
    background-color: #0f2027;
}

#form {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-top: 125px;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 12px;
}

#form h1 {
    color: #0f2027;
    text-align: center;
}

#form button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: rgb(41, 57, 194);
    border: none;
    border-radius: 4px;
}

.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	font-size: 12px;
	padding: 10px;
	width: 100%;
}


.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
} 
 table,td,th{
    border: 2px solid white;
    border-collapse: collapse;
    color: #f0f0f0;
 }
 table{
    width: 60%;
 }
 .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
 }

/* // // var isEmail = emailValue => {
// //     for (var ​i = 0; i<email.length; i++) {
// //         if (emailValue[i] != emailValue[i].toLowerCase()) {
// //             return false;
// //     }
// //     }
// //     return true;
// // } */ 